@media screen and (max-width: 1200px) {
    .home-wrapper {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 70px auto 0 auto;
        padding: 40px 0;
    }
    
    .avatar {
        order: 1;
    }
    
    .avatar img {
        width: 14rem;
    }
    
    .intro {
        order: 2;
        margin-top: 24px;
    }

    .intro h2 {
        margin: 0;
        font-size: 32px;
        font-weight: bold;
    }
    
    .intro h1 {
        margin: 0;
        font-size: 36px;
        font-weight: bold;
    }

    .about-wrapper {
        flex-flow: column nowrap;
        padding: 52px 56px;
    }

    .title {
        font-size: 18px;
    }
    
    .skill-card img {
        height: 40px;
    }

    .skill-card p {
        font-size: 18px;
    }

    .contact-wrapper {
        padding: 52px 56px;
    }

    .contact-wrapper .title {
        margin-bottom: 14px;
    }

    .contact-wrapper p {
        margin-bottom: 36px;
        font-size: 18px;
    }

    .form-wrapper {
        padding: 36px;
        border-radius: 18px;
    }

    footer {
        padding: 16px;
        text-align: center;
    }
}